.reveal .list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal .list-unstyled li {
  margin: 0;
  padding: 0;
}

.reveal .tiny-text {
  font-size: 0.8em;
}

.reveal pre code {
  max-height: fit-content;
}
