.reveal .list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal .list-unstyled li {
  margin: 0;
  padding: 0;
}

.reveal img {
    border: none;
    box-shadow: none;
    max-height: calc(66vh);
    max-width: calc(66vw);
}

.reveal .img-boxed {
  border: 2px solid white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.reveal pre {
  font-size: 0.40em;
}
