.reveal section > section > footer {
  font-size: 36px;
}

.reveal > footer {
  z-index: 1;
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 4px;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 20px;
}

.reveal strong {
  color: #ffd;
  font-weight: normal;
  text-shadow:
   -1px -1px 4px #333,  
    1px -1px 4px #333,
    -1px 1px 4px #333,
     1px 1px 4px #333;
}

.reveal blockquote:before {
  content: '“';
  position: absolute;
  top: -15px;
  left: 0;
  opacity: 0.25;
  font-size: 125%;
}

.reveal blockquote {
  font-size: 96px;
  padding: 30px;
}

.reveal .list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal .list-unstyled li {
  margin: 0;
  padding: 0;
}

.reveal .tiny-text {
  font-size: 0.8em;
}

.reveal pre code {
  max-height: fit-content;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Acme", "Georgia", Helvetica, sans-serif;
  font-weight: normal;
}

.twocol {
  display: flex;
}

.twocol > * {
  flex: 1;
}

.blurred {
  filter: blur(5px) grayscale(50%);
}

.reveal .impactful {
  font-size: 128px;
}
