.reveal .list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal .list-unstyled li {
  margin: 0;
  padding: 0;
}

.reveal .tiny-text {
  font-size: 0.8em;
}

.reveal pre code {
  max-height: fit-content;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Gudea", "Source Sans Pro", Helvetica, sans-serif;
}